/*Paddings*/

.padding_zero {
  padding: 0 !important;
}

.padding_top_zero {
  padding-top: 0;
}

.padding_right_zero {
  padding-right: 0 !important;
}

.padding_bottom_zero {
  padding-bottom: 0;
}

.padding_left_zero {
  padding-left: 0;
}

.padding_lr_zero {
  padding-left: 0;
  padding-right: 0;
}

.padding_lr_5px {
  padding-left: 5px;
  padding-right: 5px;
}

.padding_lr_30px {
  padding-left: 30px;
  padding-right: 30px;
}

.padding_lr_32px {
  padding-left: 32px;
  padding-right: 32px;
}

.padding {
  padding: 10px;
}

.padding_16px {
  padding: 16px;
}

.padding_top {
  padding-top: 10px;
}

.padding_right {
  padding-right: 10px;
}

.padding_bottom {
  padding-bottom: 10px;
}

.padding_left {
  padding-left: 10px !important;
}

.padding_5px {
  padding: 5px !important;
}

.padding_16px {
  padding: 16px !important;
}

.padding_20px {
  padding: 20px !important;
}

.padding_top_2px {
  padding-top: 2px !important;
}

.padding_top_4px {
  padding-top: 4px !important;
}

.padding_top_5px {
  padding-top: 5px !important;
}

.padding_top_15px {
  padding-top: 15px !important;
}

.padding_top_25px {
  padding-top: 25px !important;
}

.padding_top_40px {
  padding-top: 40px !important;
}

.padding_right_5px {
  padding-right: 5px;
}

.padding_bottom_5px {
  padding-bottom: 5px !important;
}

.padding_left_5px {
  padding-left: 5px;
}

.padding_tb_15px {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.padding_tb_2px {
  padding-top: 2px;
  padding-bottom: 2px;
}

.padding_tb_5px {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding_top_20px {
  padding-top: 20px !important;
}

.padding_top_30px {
  padding-top: 30px;
}

.padding_bottom_20px {
  padding-bottom: 20px;
}

.padding_bottom_30px {
  padding-bottom: 30px;
}

/*Margins*/

.margin {
  margin: 10px;
}

.margin_top {
  margin-top: 10px;
}

.margin_right {
  margin-right: 10px;
}

.margin_bottom {
  margin-bottom: 10px;
}

.margin_left {
  margin-left: 10px;
}

.margin_zero {
  margin: 0 !important;
}

.margin_top_zero {
  margin-top: 0;
}

.margin_right_zero {
  margin-right: 0;
}

.margin_bottom_zero {
  margin-bottom: 0;
}

.margin_left_zero {
  margin-left: 0;
}

.margin_5px {
  margin: 5px;
}

.margin_top_5px {
  margin-top: 5px;
}

.margin_right_5px {
  margin-right: 5px;
}

.margin_bottom_5px {
  margin-bottom: 5px;
}

.margin_left_5px {
  margin-left: 5px;
}

.margin_tb_2px {
  margin-top: 2px;
  margin-bottom: 2px;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

/*Fonts*/
.font_10px {
  font-size: 10px !important;
}

.font_12px {
  font-size: 12px !important;
}

.font_14px {
  font-size: 14px !important;
}

.font_16px {
  font-size: 16px !important;
}

.font_18px {
  font-size: 18px !important;
}

.font_20px {
  font-size: 20px !important;
}

.font_22px {
  font-size: 22px !important;
}

.font_24px {
  font-size: 24px !important;
}

.font_26px {
  font-size: 26px !important;
}

.font_28px {
  font-size: 28px !important;
}

.font_30px {
  font-size: 30px !important;
}

/*Font Styles*/
.font_bold {
  font-weight: bold;
}

.font_weight_normal {
  font-weight: normal;
}

/*Colors*/
.color_ff {
  color: #ffffff !important;
}

.color_00 {
  color: #000000 !important;
}

.color_55 {
  color: #555 !important;
}

.color_88 {
  color: #888;
}

.color_aa {
  color: #aaa;
}

.color_dd {
  color: #ddd;
}

/*others*/
.width_100p {
  width: 100%;
}

.white_space_normal {
  white-space: normal !important;
}

.border_none {
  border: none !important;
}

.border_top_none {
  border-top: none;
}

.border_right_none {
  border-right: none;
}

.border_bottom_none {
  border-bottom: none;
}

.border_left_none {
  border-left: none;
}

.border_lr_none {
  border-left: none;
  border-right: none;
}

.border_left_only {
  border-left: 1px solid #ccc;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.border_top_cc {
  border-top: 1px solid #ccc;
}

.border_right_cc {
  border-right: 1px solid #ccc;
}

.border_bottom_cc {
  border-bottom: 1px solid #cccccc;
}

.border_left_cc {
  border-left: 1px solid #ccc;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.border_radius_10px {
  border-radius: 10px !important;
}

.border_radius_50p {
  border-radius: 50% !important;
}

.max_width_200px {
  max-width: 200px;
}

.max_width_250px {
  max-width: 250px;
}

.max_width_300px {
  max-width: 300px;
}

.max_width_400px {
  max-width: 400px;
}

.bg_transparent {
  background-color: transparent;
}

.color_light {
  color: #fff !important;
}

.color_dark {
  color: #000 !important;
}

.line_height_40px {
  line-height: 40px;
}

.height_100p {
  height: 100%;
}

.text_underline {
  text-decoration: underline;
}

.text_transform_none {
  text-transform: none;
}
